<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head')%>
    <title>Login</title>
</head>

<body class="bg-light">

    <%-include('./partials/nav')%>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="width: 400px;">
            <h3 class="text-center mb-4">Login</h3>

            <form action="/login" method="post">

                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="loginEmail" required>
                </div>

                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="loginPassword" required>
                </div>

                <button type="submit" class="btn btn-primary w-100 mb-3">
                    Login
                </button>

                <p class="text-center mb-0">
                    Don’t have an account? 
                    <a href="/signup">Sign up</a>
                </p>

            </form>
        </div>
    </div>

    <%-include("./partials/script")%>

</body>

</html>
