body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

h2 {
  text-align: center;
}

.top-bar {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 7px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Edit Form Box */

.edit-box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  display: none;
  box-shadow: 0px 0px 10px gray;
}

.edit-box input {
  width: 100%;
}